<%- include('partials/nav', { title: 'Work', services: services }) %>

<!-- Header Section -->
<section class="header">
  <p class="top">ACCELERATE YOUR SOFTWARE DEVELOPMENT WITH OUR</p>
  <p class="middle">Scalable Resource Augmentation Solutions</p>
  <p class="end">Innovators - Enterprises - Startups</p>
  <div class="button">
    Let's Connect <i class="fa fa-arrow-circle-right"></i>
  </div>
</section>

<%- include('partials/footer', { services: services, packages: packages }) %>
